@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');
@font-face{
  font-family:'regular';
  src: url(Assets/fonts/fonts-D-DIN.woff2);
}

@font-face{
  font-family:'Bold';
  src: url(Assets/fonts/fonts-D-DIN-Bold.woff2);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
a{
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background: #000;
  color: #fff;
}


/* navigations */
.navs{
  display: flex;
  width: 50vw;
  margin-left: 10px;
  margin-top: 20px;
  justify-content: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  transition: top 0.8s ease-in-out;
}
.navbar ul{
  display: flex;
  list-style: none;
  position: relative;

}
.navbar ul li{
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Bold';
}

.navbar ul a{
  text-decoration: none;
  color:#fff;
}


#shop-container{

  position: absolute;
  right: 6vw;
  margin-top: 15px;
}

/* nav underline animations */

.navs ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 10vw;
  height: 1px;
  width: 100%;
  background: #ffffff;
  z-index: 15;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}

.navs ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
/* nav ends */



/* Sections*/
section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 150px;
  left: 290px;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  animation: fadeInUp 0.5s ease-in-out;
  font-family: 'Regular';
}

.section-inner h2 {
  font-size: 50px;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
  font-family: "Bold";
  max-width: 550px;

}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both; /* Stop from showing at start*/
  color: white;
}

/* main page video */

.section-1 #bg-video{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 

}

/* Background images */

.section-1 {
  background-image: url('Assets/PD_Splashdown_Crew_20240915_DSC_02307_Desktop_412628ab0e.jpg');
}
.section-2 {
  background-image: url('Assets/Galileo_L13_pad39a_DSC_2766_1_f9615c357e.jpg');
}
.section-3 {
  background-image: url('Assets/Bluebird_1_presssite_DSC_2722_desktop_6e56ac8d35.jpg');
}
.section-4 {
  background-image: url('Assets/Starlink_G9_6_SW_Hill_Horiz_0410_Desktop_71fe7c1c14.jpg');
}

.section-5 {
  background-image: url('Assets/Eva_Suit_Desktop_alternate_1cf9bae18e.jpg');
}
.section-6 {
  background-image: url('Assets/make_life_multiplanetary_desktop_3fa7cff73c.jpg');
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 40px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
  border-radius: 0;
}

.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
 
}

.btn:hover .hover {
  transform: translateY(0);

}

/* arrow */

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: Bounce 2.5s infinite;
}


/* Footer */
footer {
  position: relative;
  padding: 20px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  
}

footer ul li {
  margin-right: 30px;
  color: #cccccc;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 6.5;
  font-family: 'Regular';
}

footer ul li a {
  color: #ffffff;
  transition: color 0.6s;
  font-weight: 600;
  font-family: 'Bold';
}

footer ul li a:hover {
  color: #aaa;
}

/* Hamburger Menu */

.hamburger {
  position: fixed;
  position: absolute;
  top: 38px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  height: 15px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}
/* hamberger creation ends */


/* Transition hamburger to X when Click */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* Stop body scroll */
.stop-scrolling {
  overflow: hidden;
}

/* Hide mobile main menu items */
.mobile-only {
  display: none;
}


/* Side menu */
.side-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #000;
  z-index: 4;
  display: flex;
  align-items: start;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Show menu from right */

.show-menu {
  transform: translateX(0);
}

.side-main-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 50px;
  width: 100%;
  margin-top: 30px;
  
}

.side-main-menu ul li {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Regular";
  text-transform: uppercase;
  border-bottom: 1px #555 dotted;
  width: 100%;
  text-align: right;
  padding-bottom: 8px;
  
}

.side-main-menu ul li a {
  color: #fff;
  transition: color 0.6s;
}

.side-main-menu ul li a:hover {
  color: #aaa;
}



/* Animations */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes Bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }

  70% {
    opacity: 0.8;
    transform: translateY(0);
  }
}


/* media query */

/* to hide the ul under navs when the display width is less than medium */

@media (max-width: 768px) {
  .navs{
      display: none;
  }
  .navbar img{
    margin-left: 70px;
  }
  .hamburger{
    top: 30px;
  }
  .side-main-menu{
    width: 60%;
  }

}

@media (width<1560px) {
  .navs{
    width: 60vw;
    margin-left: -50px;
  }
  .navbar img {
    width: 200px;
  }
  #shop-container li{
   font-size: 14px
  }
  .hamburger{
    right: 30px;
  }


}
@media(width<995px){
  .navs{
    width: 40vw;
  }
  #shop-container li{
      display: none;   
   }
   .navbar img{
    margin-left: -20px;
   }
}
@media (width<1300px) {
  .navs ul li{
    font-size:12px;
  }
  .navs{
    width: 65vw;
  }
  #shop-container li{
    font-size: 10px
   }
  .container img{
    width: 150px;
  }

}

@media (width<1060px) {
  .navs ul li{
    font-size:10px;
  }
  #shop-container li{
    font-size: 10px
   }
  .navs{
    width: 60vw;
  }
  .section-inner {
    bottom: 75px;
    left: 20px;
  }


}

/* TO shhow the ul under .navs when the display width is larger than medium */
@media (min-width: 769px) {
  .navs {
      display: block;
  }
  
}


@media (max-width: 960px) {

  /* Show main mobile items */

  .mobile-only {
    display: block;
  }

  .section-inner-center h3 {
    font-size: 75px;
  }
  .section-inner {
    bottom: 75px;
    left: 20px;
  }

}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px;
  }

  .section-inner h2 {
    font-size: 40px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer ul li {
    margin-right: 15px;
  }

  .logo {
    width: 150px;
    margin: auto;
  }

  .section-inner-center h3 {
    font-size: 50px;
  }

}